/* generals  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* header  */

/* sony-banner  */

.sony-banner img {
  height: 15px;
  display: block; /* per togliere quel piccolo padding di default */
}

/* main  */

/* jumbo-returnal  */

#jumbo-returnal {
  background-image: url("img/jumbo-bg.png");
}

.game-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.game-banner .row {
  min-height: 600px;
}
.game-banner .banner__logo {
  max-width: 216px;
}
.game-banner .banner__title {
  font-weight: 400;
  font-size: 2.3rem;
}

/* jumbo-it-takes-two  */

#jumbo-it-takes-two {
  background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
}

/* section-game  */
.section-game .game-thumb {
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid transparent;
  transition: all 0.1s ease-in-out;
}
.game-thumb.active,
.game-thumb:hover {
  border: 3px solid rgb(44, 44, 239);
  outline: 4px solid white;
  outline-offset: -8px;
}

/* section playstation-5  */
.subtitle {
  color: blue;
  font-weight: 500;
  font-size: 12px;
}
.t-title {
  color: gray;
  font-weight: 500;
  font-size: 20px;
}

/* inserimento thumb playstation  */

#thumb-play_5 .comment_object {
  color: gray;
  padding-top: 5px;
}

.h_img img {
  max-width: 120px;
}
.h_img {
  border: 3px solid transparent;
  transition: all 0.3s ease-in-out;
}

.h_img:hover {
  border: 3px solid rgb(0, 0, 0);
}

/* <!-- inserimento new game   --> */
#sect-new-game {
  background-color: #353232;
}

#sect-new-game .comm_new_game {
  font-size: 20px;
  font-weight: 600;
}

.b_r img {
  border-radius: 15px;
}

.title_game {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

/* section play-4  */

.comm__play4 {
  color: grey;
  font-weight: 600;
  display: block;
  padding: 10px 0px;
  max-width: 90%;
  text-align: start;
}

.marg_l {
  margin-left: 0;
}

/* jumbo ps plus  */
#ps-plus {
  background-color: rgb(160, 160, 160);
}

.logo_ps-plus {
  max-width: 480px;
}
.f_p {
  max-width: 600px;
  font-weight: 600;
}
.c_b {
  color: rgb(63, 97, 232);
}

/* section sales  */

.font-sale {
  font-size: 20px;
  font-weight: 600;
}

/* jumbo ps plus  */
#ps-second-plus {
  background-color: rgb(14, 14, 111);
}
.logo_ps-second-plus {
  max-width: 350px;
}
/* <!-- section social media  --> */
#sect-social {
  padding-top: 40px;
  padding-bottom: 90px;
}

.w_img {
  max-width: 600px;
  margin: 0 auto;
}

/* footer-list  */
#footer-list {
  background-color: rgb(18, 18, 140);
}

.w-logo {
  width: 90px;
}

.language {
  width: 20px;
}

.sie_w img {
  width: 120px;
}
.f_style {
  font-weight: 600;
}
