/* generals  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* header  */

/* sony-banner  */

.sony-banner img {
  height: 15px;
  display: block; /* per togliere quel piccolo padding di default */
}

/* main  */

/* jumbo-returnal  */

#jumbo-returnal {
  background-image: url("img/jumbo-bg.png");
}

.game-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.game-banner .row {
  min-height: 590px;
}
.game-banner .banner__logo {
  max-width: 216px;
}
.game-banner .banner__title {
  font-weight: 400;
  font-size: 2rem;
}
